

<section>
    <div class="content">
        
        <h2>Need a teamplayer? Here is what my colleagues said about me</h2>
            
        
        <div class="reference-section">
            <img src="assets/images/arrow-right.png" alt="">
        <div class="reference-box">
            
            <div class="reference-name">
                <h3>Noah Mueller</h3>
                <p>Project Sharkie</p>
            </div>
            <div class="reference-text">
                <p>‘’Marcus had to develop, format and deliver content in collaboration with the team members.He is a
                    reliable and friendly person.’’</p>
            </div>
        </div>

        <div class="reference-box">
            <div class="reference-name">
                <h3>Evelyn Marx</h3>
                <p>Project Pollo Loco</p>
            </div>
            <div class="reference-text">
                <p>‘’ He is a trustworthy teamplayer and can cope with the stress of deadlines. Structured work and clear code. ‘’</p>
            </div>
        </div>

        <div class="reference-box">
            <div class="reference-name">
                <h3>James Rugman</h3>
                <p>Project Join</p>
            </div>
            <div class="reference-text">
                <p>‘’ He is a reliable and friendly person. Work in a structured way and write a clear code. I recommend him as a colleague.’’</p>
            </div>
        </div>
</div>
</div>

</section>