@use 'all-styles' as all;
@use '../../../styles.scss';

:host{
    display: flex;
    width: 100%;
}

.feedbacks{
    @include all.letsflex($direction: column, $gap: 8px);
    width: 100%;
    box-sizing: border-box;
    @media (max-width: 1485px){
        border: 1px solid #02F4BF;
        padding: 16px;
    }
    @media (max-width: 740px){
        max-width: 320px;
        margin-inline: auto;
    }
    h4{
        color: #E15544;
        font-size: 24px;
        font-weight: 700;
        word-break: break-word;
    }
    p{
        color: #02F4BF;
        overflow-wrap: break-word;
        word-break: break-word;
    }
}