<header>
    <div class="header content">
        <div class="logo-nav-container">
            <a class="fontHandjet mark" href="#atf-section" (click)="goHome($event)">&lt;BK&gt;</a>
            <nav>
                <a routerLink="/" fragment="about-me-section">{{'header.nav1' | translate }}</a>
                <a routerLink="/" fragment="skills">{{'header.nav2' | translate }}</a>
                <a routerLink="/" fragment="project-section">{{'header.nav3' | translate }}</a>
                <a href="#contact-section" appScrollToContact>{{'header.nav4' | translate }}</a>
                <a routerLink="/privacy-policy">{{'header.nav5' | translate }}</a>
            </nav>
        </div>
        <button id="menu-toggle" (click)="toggleOverlay()" aria-label="Menu">
            <img src="assets/images/hero_section/burger-menu.png" alt="burger-menu">
        </button>
        <div class="lang-toggle">
            <button (click)="changeLanguage('de')">DE</button>
            <p>|</p>
            <button (click)="changeLanguage('en')">EN</button>
        </div>
    </div>

    <div class="menu-overlay" [class.d-none]="!overlayVisible">
        <button id="close-icon" (click)="toggleOverlay()" aria-label="Close menu">
            <img src="assets/images/hero_section/close-menu.png" alt="">
        </button>
        <nav class="overlay-nav">
            <a routerLink="/" fragment="about-me-section" (click)="toggleOverlay()">{{'header.nav1' | translate }}</a>
            <a routerLink="/" fragment="skills" (click)="toggleOverlay()">{{'header.nav2' | translate }}</a>
            <a routerLink="/" fragment="project-section" (click)="toggleOverlay()">{{'header.nav3' | translate }}</a>
            <a href="#contact-section" appScrollToContact (click)="toggleOverlay()">{{'header.nav4' | translate }}</a>
            <a routerLink="/privacy-policy" (click)="toggleOverlay()">{{'header.nav5' | translate }}</a>
            <a routerLink="/impressum" (click)="toggleOverlay()">{{'footer.legal' | translate }}</a>
        </nav>
        <div class="lang-switch-popup">
            <button (click)="changeLanguage('de')">DE</button>
            <p>|</p>
            <button (click)="changeLanguage('en')">EN</button>
        </div>
    </div>
</header>
