<footer>
    <div class="content">
    <div class="upper">
        <div>
            <h2>&lt;BK&gt;</h2>
            <h3>frontend developer</h3>
        </div>
        <p>© Burak Keles 2025</p>
        <div class="icons">
            <img src="assets/icons/github.png" alt="">
            <img src="assets/icons/mail.png" alt="">
            <img src="assets/icons/linkedin.png" alt="">
        </div>
    </div>
    <div class="lower">
        <a href="#">Legal notice</a>
        <a href="#">privacy policy</a>
    </div>
    </div>
</footer>