<footer>
    <div class="footer content">
        <div class="footer-box">
            <div class="footer-brand">
                <p class="fontHandjet symbol">&lt;BK&gt;</p>
                <p id="role-label">frontend developer</p>
            </div>
            <p>© Burak Keles 2025</p>
            <div class="social-icons">
                <a class="git-icon" href="https://github.com/DevMinded55" target="_blank"></a>
                <a class="mail-icon" href="mailto:keles490@googlemail.com"></a>
                <a class="linkedin-icon" href="#" target="_blank"></a>
            </div>
        </div>
        <div class="legal-links">
            <a [routerLink]="['/impressum']">{{'footer.legal' | translate }}</a>
            <a [routerLink]="['/privacy-policy']">{{'footer.policy' | translate }}</a>
        </div>
    </div>
</footer>
