<section id="intro-section">
    <div class="hero-wrapper content">
        <div class="hero-main">
            <div class="hero-actions">
                <a class="text-link-vertical" href="#contact-section">{{'a-t-f.button' | translate }}</a>
                <a class="scroll-cue" href="#contact-section"></a>

            </div>
            <div class="hero-headline">
                <h2>FRONTEND DEVELOPER</h2>
                <h1>Burak Keles</h1>
            </div>
        </div>
        <img src="/assets/images/hero_section/me1.png" alt="Bild">
    </div>
</section>