@use 'all-styles' as all;
@use '../../styles.scss';


section{
    background-color: #120b35;
    
}
.teamplayer{
    margin-left: 108px;
    margin-right: 108px;
    margin-bottom: 92px;
    @media (max-width: 1485px){
        @include all.letsflex($direction: column, $align: center);
    }
    @media (max-width: 640px){
        margin-left: 50px;
        margin-right: 50px;
    }
    @media (max-width: 374px){
        margin-left: 20px;
        margin-right: 20px;
    }
    h4{
        color: #E15544;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 24px;
        @media (max-width: 1485px){
            display: none;
            font-size: 16px;
            font-weight: 400;
        }
        @media (max-width: 400px){
            font-size: 12px;
        }
    }
    h3{
        color: #E15544;
        font-size: 24px;
    }
    .h3-h4-resp{
        display: none;
        @media (max-width: 1485px){
            @include all.letsflex();
            text-align: center;
        }
    }
    
    .arrow-and-feedbacks{
        @include all.letsflex();
        @media (max-width: 1485px){
                justify-content: center;
        }
        @media (max-width: 705px){
            width: 300px;
        }
        img{
            transform: rotate(-30deg);
            height: 120px;
            @media (max-width: 1485px){
                display: none;
            }
        }
        .feedbacks-content{
            @include all.letsflex($justify: space-between);
            width: 100%;
            max-width: 100%;
            @media (max-width: 1270px){
                overflow-x: auto;
                scrollbar-width: none;
                -ms-overflow-style: none;
                cursor: grab;
            }
            @media (max-width: 740px){
                width: 60%;
            }
            @media (max-width: 580px){
                width: 70%;
            }
        }
        .feedbacks-content::-webkit-scrollbar {
            display: none;
        }
        .feedbacks-content:active {
            cursor: grabbing;
        }
    }
}
