<section>
    <div class="content">
        <div class="contact-section">
            <div class="headline">
                <h1>Contact me</h1>
                <img src="assets/images/Arrow-right-down.png" alt="">
            </div>
            
                <div class="text-area">
                    <div>
                        <p>Encourage people to contact you and describe what role you are interested in. Express
                            interest in contributing to a new project.</p>
                    </div>
                    <div class="contacts">
                        <div><img src="assets/icons/email_.png" alt="">
                            <p>E-mail: keles490atgooglemail.com</p>
                        </div>
                        <div><img src="assets/icons/phone_.png" alt="">
                            <p>Tel: 0151 270 742 46</p>
                        </div>
                    </div>
                </div>
            
            <form class="contact-form">
                <div class="input-group">
                    <input type="text" placeholder="Your Name" required />
                    <input type="email" placeholder="Your Email" required />
                </div>
                <textarea placeholder="Your Message" required></textarea>

                <label class="checkbox-group">
                    <input type="checkbox" required />
                    <span>
                        I’ve read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.
                    </span>
                </label>

                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</section>