<app-header></app-header>
<section class="privacy-page" id="privacy-policy-section">
  <div class="content privacy-inner">
    <button type="button" class="legal-back" (click)="goBackHome()">{{'privacy.backHome' | translate }}</button>
    <div id="generator_results">
      <div id="generator_results_content">
        <h1>{{'privacy.h1' | translate }}</h1>
        <h2>{{'privacy.controllerTitle' | translate }}</h2>
        <p>{{'privacy.controllerText' | translate }}</p>
        <p class="generator_user_input">Burak Keles</p>
        <h2>{{'privacy.rightsTitle' | translate }}</h2>
        <p>{{'privacy.rightsIntro' | translate }}</p>
        <ul>
          <li>{{'privacy.right1' | translate }}</li>
          <li>{{'privacy.right2' | translate }}</li>
          <li>{{'privacy.right3' | translate }}</li>
          <li>{{'privacy.right4' | translate }}</li>
          <li>{{'privacy.right5' | translate }}</li>
          <li>{{'privacy.right6' | translate }}</li>
        </ul>
        <p>{{'privacy.consentWithdrawal' | translate }}</p>
        <p>{{'privacy.complaint' | translate }}</p>
        <p>{{'privacy.authorityListBefore' | translate }} <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.</p>
        <h2>{{'privacy.processingTitle' | translate }}</h2>
        <h3>{{'privacy.contactTitle' | translate }}</h3>
        <p>{{'privacy.purposeTitle' | translate }}</p>
        <p>{{'privacy.contactFormText' | translate }}</p>
        <p>{{'privacy.submitDataText' | translate }}</p>
        <ul>
          <li>{{'privacy.requestDate' | translate }}</li>
        </ul>
        <p>{{'privacy.emailContactText' | translate }}</p>
        <p>{{'privacy.phoneContactText' | translate }}</p>
        <p>{{'privacy.requestContentText' | translate }}</p>
        <h4>{{'privacy.legalBasisTitle' | translate }}</h4>
        <p>{{'privacy.legalBasis1' | translate }}</p>
        <p>{{'privacy.legalBasis2' | translate }}</p>
        <p>{{'privacy.legalBasis3' | translate }}</p>
        <h4>{{'privacy.recipientsTitle' | translate }}</h4>
        <p>{{'privacy.recipientsText' | translate }}</p>
        <h4>{{'privacy.storageTitle' | translate }}</h4>
        <p>{{'privacy.storage1' | translate }}</p>
        <p>{{'privacy.storage2' | translate }}</p>
        <h4>{{'privacy.provisionTitle' | translate }}</h4>
        <p>{{'privacy.provisionText' | translate }}</p>
        <h4>{{'privacy.objectionTitle' | translate }}</h4>
        <p>{{'privacy.objectionText' | translate }}</p>
        <h2>{{'privacy.objectionRightTitle' | translate }}</h2>
        <h3>{{'privacy.individualObjectionTitle' | translate }}</h3>
        <p>{{'privacy.individualObjection1' | translate }}</p>
        <p>{{'privacy.individualObjection2' | translate }}</p>
        <h3>{{'privacy.objectionRecipientTitle' | translate }}</h3>
        <p class="generator_user_input">{{'privacy.objectionRecipientBefore' | translate }} <a href="mailto:keles490@googlemail.com">keles490&commat;googlemail.com</a> (Burak Keles)</p>
        <h2>{{'privacy.changesTitle' | translate }}</h2>
        <p>{{'privacy.changesText' | translate }}</p>
        <h2>{{'privacy.questionsTitle' | translate }}</h2>
        <p>{{'privacy.questionsText' | translate }}</p>
        <h2>{{'privacy.copyrightTitle' | translate }}</h2>
        <p><em>{{'privacy.copyrightBefore' | translate }} <a href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank" rel="noopener">{{'privacy.copyrightLink' | translate }}</a> {{'privacy.copyrightAfter' | translate }}</em></p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
