<section id="skills">
    <div class="my-skills content">
        <h3>{{'skills.h3' | translate }}</h3>
        <div>
            @for (item of skills; let i = $index; track $index) {
            <div class="skill-wrapper" (mouseenter)="onMouseEnter(i)" (mouseleave)="onMouseLeave()">
                <app-skill-item [skills]="item"></app-skill-item>

                <!-- Nur beim letzten Skill wird der Text angezeigt -->
                <p *ngIf="showText && i === skills.length - 1" class="skill-note">
                    I am always happy to learn new technologies, just tell me what you need.
                </p>
            </div>
            }
        </div>
        <img class="hint-arrow" src="/assets/images/about_me/arrow2.png" alt="pfeil rechts">
        <p class="hint-text">{{'skills.text' | translate }}</p>
        <a class="hint-btn" href="#contact-section">{{'about-me.talk' | translate }}</a>
    </div>
</section>