<section class="my-skills">
    <h1>My Skills</h1>
    <div class="skills1">
        <img src="assets/icons/Angular.png" alt="">
        <img src="assets/icons/JavaScript.png" alt="">
        <img src="assets/icons/TypeScript.png" alt="">
        <img src="assets/icons/HTML.png" alt="">
        <img src="assets/icons/CSS.png" alt="">
        <img src="assets/icons/RestAPI.png" alt="">
    </div>
    <div class="skills2">
        <img src="assets/icons/GIT.png" alt="">
        <img src="assets/icons/Scrum.png" alt="">
        <img src="assets/icons/MaterialDesign.png" alt="">
        <img src="assets/icons/Challenge me 02.png" alt="">
    </div>


</section>