@use 'all-styles' as all;
@use '../../../styles.scss';

section{
    margin-bottom: 32px;
    width: 1200px;
    @include all.letsflex($justify: space-between);
    &.reverse {
        flex-direction: row-reverse;
    }
    @media (max-width: 1270px){
        width: 100%;
            flex-direction: column-reverse;
            align-items: center;
            &.reverse {
                flex-direction: column-reverse; 
    }
    @media (max-width: 561px){
        width: 250px;
    }
    }
    img{
        width: 588px;
        height: 371px;
        @media (max-width: 640px){
            width: 420px;
            height: 225px;
        }
        @media (max-width: 466px){
            width: 350px;
            height: 225px;
        }
        @media (max-width: 390px){
            width: 280px;
            height: 184px;
        }
    }
    .info-project{
        @include all.letsflex($direction: column, $justify: space-between);
        height: 318px;
        width: 498px;
        color: #02F4BF;
        margin-left: 24px;
        margin-right: 24px;
        font-size: 18px;
        @media (max-width: 1270px){
            align-items: center;
            margin-bottom: 32px;
        }
        @media (max-width: 640px){
            height: 260px;
        }
        @media (max-width: 540px){
            width: 85%;
            margin-left: 0;
            margin-right: 0;
            text-align: center;
            font-size: 16px;
        }
        h4{
            font-size: 48px;
            @media (max-width: 640px){
            font-size: 24px;
            }
        }
        
        .btn-area{
            @include all.letsflex($justify: space-between, $align: center);
            width: 300px;
            height: 52px;
            @media (max-width: 640px){
                display: none;
            }
            .github-btn{
                height: 52px;
                width: 125px;
                text-decoration: none;
                color: #E15544;
                border: solid 1px #02F4BF;
                @include all.letsflex($align: center, $justify: center);
                transition: color 0.6s ease;
                &:hover{
                    color: #02F4BF;
                }
            }
            .live-test-btn{
                height: 52px;
                width: 158px;
                
                @include all.letsflex($align: center, $justify: center);
                text-decoration: none;
                background-color: #02F4BF;
                transition: color 0.6s ease;
                &:hover{
                    color: #E15544;
                }
            }
        }
    }
}
.btn-resp{
    display: none;
    @media (max-width: 640px){
        @include all.letsflex($align: center, $justify: space-between);
        width: 250px;
        height: 52px;
        margin-top: 16px;
        .github-btn{
            height: 52px;
            width: 100px;
            text-decoration: none;
            color: #E15544;
            border: solid 1px #02F4BF;
            @include all.letsflex($justify: center, $align: center);
            transition: color 0.6s ease;
            &:hover{
                color: #02F4BF;
            }
        }
        .live-test-btn{
            height: 52px;
            width: 127px;
            @include all.letsflex($justify: center, $align: center);
            text-decoration: none;
            background-color: #02F4BF;
            transition: color 0.6s ease;
            &:hover{
                color: #E15544;
            }
        }
    }
}